name: first worklfow
on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: build
      run: |
        echo "from build"
#        echo "second line from first workflow"
